extends layout

block content
  .container.text-center.mt-5
    .row
      .col-md-8.mx-auto
        h1.display-1
          i.bi.bi-exclamation-triangle.text-danger
        h2.mb-4 Something Went Wrong
        p.lead We're sorry, but there was an error processing your request.
        if error && error.message
          .alert.alert-danger.mt-4
            p.mb-0= error.message
            if error.stack
              pre.mt-3.text-start.small= error.stack
        a.btn.btn-primary.mt-3(href='/')
          i.bi.bi-house-door.me-2
          | Go Home