extends ../layout.pug

block content
  h1 Dashboard
  .row
    .col-md-4
      .card
        .card-body
          h5.card-title This Month Income
          h2.text-success £#{monthIncome}
    .col-md-4
      .card
        .card-body
          h5.card-title This Month Expenses
          h2.text-danger £#{monthExpenses}
    .col-md-4
      .card
        .card-body
          h5.card-title Remaining Balance
          h2.text-primary £#{remainingBalance}
