extends ../layout.pug

block content
  .content
    h2 Add Budget
    form(action="/budgets/add" method="POST")
      select.form-select(name="category_id" required)
        option(value="") Select Category
        each category in categories
          option(value=category.category_id) #{category.category_name}
      input.form-control(type="number" name="amount" placeholder="Amount" required)
      input.form-control(type="month" name="month" required)
      button.btn.btn-success(type="submit") Save Budget
